# Токен бота (получить можно у @BotFather)
BIRTHDAY_BOT_TOKEN=123456789:ABCDEFGHIJKLMNOPQRSTUVWXYZ

# ID канала, куда бот будет присылать поздравления
# Обычно начинается с -100. Можно узнать с помощью различных ботов вроде @getmyid_bot
BIRTHDAY_CHANNEL_ID=-1000000000000

# Telegram ID администраторов (через запятую)
# Узнать свой ID можно написав любое сообщение этому боту до его настройки.
ADMIN_IDS=123456789,987654321
